.abtscreen{
    padding: 150px;
    text-align: center;
    margin-left: 100px;
    border: 2px solid;
    color: #7a3ff2;
}
.in {
    list-style: none;
}
.abtscreen p{
    font-size: 20px;
    font-family: poppins;
}
@media (min-width: 768px) {
    .box {
        width: 48%;
        float: left;
        margin-right: 4%;
    }

    .box:nth-child(2n) {
        margin-right: 0;
    }
}

@media (min-width: 1024px) {
    .box {
        width: 32%;
        margin-right: 2%;
    }

    .box:nth-child(3n) {
        margin-right: 0;
    }
}