.rytsection{
    font-size: 17px;
    color: black;
    margin-left:350px;
    margin-top: 20px
}
.projects li{
    list-style: none;
    font-family: poppins;
}
.projects a{
    text-decoration: none;
    text-align: center;
    color: #7a3ff2;
}
@media (min-width: 768px) {
    .box {
        width: 48%;
        float: left;
        margin-right: 4%;
    }

    .box:nth-child(2n) {
        margin-right: 0;
    }
}

@media (min-width: 1024px) {
    .box {
        width: 32%;
        margin-right: 2%;
    }

    .box:nth-child(3n) {
        margin-right: 0;
    }
}